<h1>this is my apache</h1>
<h2>ipaddress: <%= node['ipaddress'] %></h2>
<h2>hostname:  <%= node['hostname'] %></h2>
<h2>network_interfaces_macs:  <%= node['ec2']['network_interfaces_macs'] %></h2>
<h2>local_hostname:  <%= node['ec2']['local_hostname'] %></h2>
<h2>public_ipv4:  <%= node['ec2']['public_ipv4'] %></h2>
<h2>custom_var:  <%= node['custom_variables'] %></h2>
